/*Start cart items*/

.order-confirm {
  margin: 30px 0 50px;
}

.order-confirm .cart-items {
  min-width: 73%;
  /*height: 600px;  */
  /*background: #BBB;*/
  box-shadow: 1px 1px 10px #ccc, -1px -1px 10px #ccc;
  border-radius: 10px;
}

.order-confirm .cart-items h4 {
  font-weight: 700;
  margin: 30px 0px 0px;
}

.order-confirm .cart-items .cart-item {
  border-bottom: 2px solid #ccc;
  padding: 47px 0 25px;
}

.order-confirm .cart-items .cart-item .item-image {
  width: 125px;
  height: 125px;
}

.order-confirm .cart-items .cart-item .item-image img {
  max-width: 100%;
  max-height: 100%;
}

.order-confirm .cart-items .cart-item .details .name {
  font-weight: 700;
  margin-bottom: 20px;
}

.order-confirm .cart-items .cart-item .details .price > span {
  margin: 0 5px;
}

.order-confirm .cart-items .cart-item .details .price .current-price {
  font-weight: 700;
  color: #0447a6;
}

.order-confirm .cart-items .cart-item .details .price .previous-price {
  text-decoration: line-through;
  color: #999;
}

.order-confirm .cart-items .cart-item .details .price .percentage {
  color: #fff;
  padding: 5px 7px;
  background: #000;
  border-radius: 5px;
}

.order-confirm .cart-items h4 {
  padding: 20px 25px 0;
}

.order-details .container > div.row {
  margin: 20px 0;
}

/*End cart items*/
